**/.DS_Store
**/node_modules
**/dist
**/.env

# local env files
**/.env.local
**/.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Coveralls
**/coverage

# Benchmarking
**/benchmarks/graphs

# Credentials
**/dina-search-photo-87cb566ef4c1.json
